.container{
    margin: 100px auto;
}
div{
    text-align: center;
}
nav.horizontal ul{
    list-style-type: none;
    margin: 0 auto;
    padding: 0px;
    width: 304px;
    overflow: hidden;
    background-color: rgb(183, 233, 247);
    border: 2px solid black;
}
li a{
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: blue;
}
.horizontal li{
    float: left;
}
a:hover{
    background-color: rgb(226, 150, 43);
    color: whitesmoke;
}