.container{
    margin: 100px auto;
}
table{
    width: 80vw;
    margin: auto;
    border-collapse: collapse;
}
th{
    background-color: rgb(70, 183, 70);
    color: white;
    text-align: left;
}
tr.c-row{
    background-color: rgb(216, 216, 216);
    border-color:rgb(216, 216, 216); 
}
th, td{
    padding: 10px;
}