.container{
    margin: 100px auto;
}

body{
    background-color: rgb(227, 226, 226);
}

.img{
    margin: 0 auto;
    width: 20%;
    border-radius: 0%;
}

img{
    border-radius: 100%;
}

.form{
    width: 40%;
    margin: auto;
}

label{
    font-weight: bolder;
}

#name{
    width: 100%;
    height: 25px;
}

#pwd{
    width: 100%;
    height: 25px;
}

#login{
    width: 100%;
    background-color: rgb(42, 227, 42);
    height: 30px;
    margin: 0 0 10px 0;
    color: white;
    border-color: transparent;
}

#rme{
    margin: 0 0 15px 0;
}

#cancel{
    width: 20%;
    height: 30px;
    background-color: rgb(249, 72, 72);
    color: white;
    border-color: transparent;
    border-radius: 5px;
}

#fpwd{
    float: right;
    color: black;
}