.container{
    margin: 100px auto;
    width: 20%;
}
div.first{
    display: list-item;
    margin-left: 1em;
}
div.second{
    display: list-item;
    margin-left: 1em;
    list-style-type: circle;
    list-style-position: inside;
}